<nav class="navbar navbar-expand-lg navbar-light bg-light   bg-danger-subtle">
    <a class="navbar-brand" href="#">
        <div class="d-flex flex-row mb-3">
            <div class="p-2"></div>
            <div class="p-2">Navbar</div>
            <div class="p-2"></div>
        </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link  btn btn-primary" href="#" [routerLink]="'/articles'">Lista de articulos <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" [routerLink]="'/articles'+'/detalle'">Detalles de articulo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" [routerLink]="'/admin'">Administración</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" [routerLink]="'/admin'+'/dashboard'">Dashboard de administración</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" [routerLink]="'/admin'+'/calendar'">Calentario de administración</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" [routerLink]="'/register'">Registro de usuarios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" [routerLink]="'/login'">Login de usuarios</a>
            </li>
        </ul>
    </div>
</nav>